<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">


  </head>


  <body align="center">

    <div class="jumbotron text-center" color="red">
    <h1>GENRE PREDICTOR</h1>
    <br>
    <p>We like all types of music here: Rock, Electronic, Hip-Hop, Folk and Classical.</p>
    </p>Please pick a song on YouTube and we'll see if I can guess correctly!</p>
    </div>


    <form action="/predict_genre/" method="post">

      <div align="center">

        Please enter a YouTube link.
        <br>
          <input type="text" name="link">
        <br>
        <br>

        <button onclick="toggleSpinner()" type="submit" class="button" align="center" >
        Predict
        </button>

      </div>

    <br>

    <div id='spinner_wrapper' role="alert">
      <div class="text-center" >
        <div class="spinner-border text-info" role="status" style="width: 3rem; height: 3rem;" id="spinner">
          <span class="sr-only"">Loading...</span>
        </div>
      </div>
    </div>

    <div align="center">
      {% if message %}
      <h2>{{message[0]}}</h2>

      <br>

      <h4>{{message[1]}}</h4>
      
      <br>

        <div class="container">
          <div class="row justify-content-center"> 
            <div class="col-2">
              <p class="text-right">Classical:</p>
            </div>
            <div class="col-2">
              <p class="text-right">{{message[2][0][0]}} %</p>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="col-2">
              <p class="text-right">Electronic:</p>
            </div>
            <div class="col-2">
              <p class="text-right">{{message[2][0][1]}} %</p>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="col-2">
              <p class="text-right">Folk:</p>
            </div>
            <div class="col-2">
              <p class="text-right">{{message[2][0][2]}} %</p>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="col-2">
              <p class="text-right">Hip-Hop:</p>
            </div>
            <div class="col-2">
              <p class="text-right">{{message[2][0][3]}} %</p>
            </div>
          </div>

          <div class="row justify-content-center"> 
            <div class="col-2">
              <p class="text-right">Rock:</p>
            </div>
            <div class="col-2">
              <p class="text-right">{{message[2][0][4]}} %</p>
            </div>
          </div>
        </div>

      {% endif %}

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous"></script>
        <script type="text/javascript">
          function toggleSpinner() {
            $("#spinner_wrapper").show();
            
          }

          $("#spinner_wrapper").hide();
        </script>

    </div>
  </body>
</html>
